.bonus{
  max-width: 1110px;
  padding: 80px 110px;
  display: flex;
  flex-direction: column;
  gap: 190px;
  background: #FFFFFF;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.06);
  margin: 100px auto;
}

.bonus__item_icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &.up{
    & div{
      margin-left: 85px;
      &:first-child{
        margin-left: 0;
      }
    }
  }
  &.down{
    margin-top: 50px;
    & div{
      margin-left: 80px;
      &:first-child{
        margin-left: 0;
      }
    }
  }
}

.bonus__item{
  text-align: center;
  & span{
    font-family: 'Proxima Nova Condensed', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #B01736;
  }
  & h1{
    font-family: 'Proxima Nova Condensed', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 100%;
    text-align: center;
    color: #444444;
    margin-bottom: 50px;
  }
  & h2{
    font-family: 'Proxima Nova Condensed', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #444444;
  }
}

.bonus__item_icons-el{
  position: relative;
  &::after{
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 400;
    font-style: normal;
    font-family: 'Proxima Nova Condensed', sans-serif;
    font-size: 18px;
    color: #444444;
    line-height: 110%;
    white-space: nowrap;
  }
  &::before{
    position: absolute;
    bottom: -45px;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 400;
    font-style: normal;
    font-family: 'Proxima Nova Condensed', sans-serif;
    font-size: 18px;
    color: #444444;
    line-height: 110%;
  }
  &.dms::after{
    content: 'Дмс';
    text-transform: uppercase;
  }
  &.weekend{
    &::after{
      content: 'Выходной';
    }
    &::before{
      content: 'в день рождения';
    }
  }
  &.mobile{
    &::after{
      content: 'Корпоративная';
    }
    &::before{
      content: 'мобильная связь';
    }
  }
  &.sport{
    &::after{
      content: 'Корпоративные скидки';
    }
    &::before{
      content: 'на спорт';
    }
  }
  &.lti{
    &::after{
      content: 'LTI';
      text-transform: uppercase;
    }
  }
  &.tech{
    &::after{
      content: 'Оргтехники';
    }
  }
  &.dms_two{
    &::after{
      content: 'ДМС';
      text-transform: uppercase;
    }
  }
  &.credit{
    &::after{
      content: 'Ипотеки';
    }
  }
}