@mixin coordinates($right, $top){
  right: $right;
  top:  $top;
}

.map{
  width: 100%;
  position: relative;
  overflow-y: hidden;
  @media (max-width: 1249.79px) {
    overflow-x: scroll;
  }
  & ul {
    display: flex;
    & li {
      list-style-type: none;
      margin-right: 30px;
      font-family: 'Proxima Nova Condensed', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      position: relative;
      padding: 30px 0;
      cursor: pointer;
      border-bottom: 3px solid white;
      white-space: nowrap;
      @media (max-width: 1024px) {
        margin-right: 20px;
      }
      &:last-child{
        margin-right: 0;
      }
    }
  }
}


.map__nav{
  display: flex;
  width: 100%;
  padding: 0 70px;
  margin: 0 auto 90px;
  background: #FFFFFF;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.06);
  @media (max-width: 1024px) {
    padding: 0 5px;
  }
}

.map__nav_wrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media (max-width: 1154px){
    flex-wrap: wrap;
  }
}
.map__nav_wrapper_right{
  width: 100%;
}
.map__nav_wrapper_left{
  position: relative;
  width: 100%;
  & h3{
    cursor: pointer;
    padding: 28px 0;
    display: inline-block;
    @media (max-width: 1154px) {
      padding: 10px 0;
    }
  }
  & img {
    cursor: pointer;
    position: absolute;
    left: 140px;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.menu_shadow{
  opacity: 0.1;
  animation: .5s linear hide;
}

.menu_shadow_remove{
  opacity: 3;
  animation: .5s linear remove_shadow;
}

.map__earth {
  width: 1220px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  @media (max-width: 1154px) {
    transform: scale(0.9);
    width: 1070px;
    height: 500px;
  }
  @media (max-width: 800px) {
    transform: scale(0.72);
    width: 800px;
    height: 400px;
  }
}
.map__earth_landscape{
  position: absolute;
  right: 0;
  @media (max-width: 1154px) {
    right: -80px;
    top: -100px;
  }
  @media (max-width: 800px) {
    right: -250px;
    top: -180px;
  }
}

.hide{
  display: none;
}


.map__earth_pointers{
  position: absolute;
  right: 0;
  @media (max-width: 1154px) {
    right: -80px;
    top: -100px;
  }
  @media (max-width: 800px) {
    right: -250px;
    top: -180px;
  }
}

.map__earth_item{
  position: absolute;
  &.d-vostok{
    @include coordinates(0, 0)
  }
  &.siberia{
    @include coordinates(350.7px, 50.63px)
  }
  &.ural{
    @include coordinates(636.6px, 98.5px)
  }
  &.nord_west{
    @include coordinates(666.6px, 17.3px)
  }
  &.volga{
    @include coordinates(885.7px, 230px)
  }
  &.center{
    @include coordinates(987.7px, 174px)
  }
  &.south{
    @include coordinates(1024.7px, 291px)
  }
}

.map__earth_pointers-item {
  display: none;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #444444;
  position: absolute;
  animation: 1s linear show;
  & span {
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translate(-50% 0);
    font-family: 'Proxima Nova Condensed', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 100%;
    text-align: right;
    color: #444444;
  }
  &.vladivostok {
    @include coordinates(210px, 574px);
    & span{
      font-size: 15px;
    }
  }
  &.khabarovsk {
    @include coordinates(197px, 498px);
    & span {
      top: -20px;
      font-size: 15px;
    }
  }
  &.irkutsk {
    @include coordinates(490px, 491px);
  }
  &.krasnoyarsk {
    @include coordinates(540px, 460px);
    & span {
      font-size: 11px;
    }
  }
  &.tomsk{
    @include coordinates(604px, 462px);
    & span {
      top: -20px;
    }
  }
  &.novosibirsk{
    @include coordinates(671px, 457px);
    & span {
      font-size: 11px;
    }
  }
  &.omsk{
    @include coordinates(723px, 473px)
  }
  &.surgut{
    @include coordinates(745px, 309px);
    & span{
      font-size: 11px;
    }
  }
  &.tumen{
    @include coordinates(770px, 363px)
  }
  &.perm{
    @include coordinates(802px, 299px)
  }
  &.chelyabinsk{
    @include coordinates(863px, 363px)
  }
  &.ekaterinburg{
    @include coordinates(861px, 326px);
    & span{
      font-size: 11px;
    }
  }
  &.ijevsk{
    @include coordinates(853px, 288px);
    & span{
      font-size: 11px;
    }
  }
  &.spb{
    @include coordinates(1032px, 130px);
    & span{
      white-space: nowrap;
      font-size: 12.5px;
      top: 16px;
    }
  }
  &.yaroslavl{
    @include coordinates(1002px, 198px);
    & span{
      white-space: nowrap;
      top: 12px;
      font-size: 10px;
    }
  }
  &.kaliningrad{
    @include coordinates(1142px, 124px);
    & span{
      font-size: 11px;
    }
  }
  &.moscow{
    @include coordinates(1040px, 223px)
  }
  &.voronej{
    @include coordinates(1086px, 245px);
    & span{
      font-size: 11px;
    }
  }
  &.belgorod{
    @include coordinates(1091px, 276px);
    & span{
      font-size: 11px;
    }
  }
  &.n_novgorod{
    @include coordinates(990px, 260px);
    & span{
      font-size: 11px;
      white-space: nowrap;
    }
  }
  &.samara{
    @include coordinates(994px, 307px);
    & span{
      font-size: 11px;
      white-space: nowrap;
    }
  }
  &.kazan{
    @include coordinates(932px, 299px);
    & span{
      font-size: 11px;
      white-space: nowrap;
    }
  }
  &.ufa{
    @include coordinates(930px, 335px);
    & span{
      font-size: 11px;
      white-space: nowrap;
    }
  }
  &.orenburg{
    @include coordinates(961px, 365px);
    & span{
      font-size: 11px;
      white-space: nowrap;
    }
  }
  &.rostov{
    @include coordinates(1100px, 319px);
    & span{
      font-size: 11px;
      white-space: nowrap;
    }
  }
  &.volgograd{
    @include coordinates(1073px, 358px);
    & span{
      font-size: 11px;
      white-space: nowrap;
    }
  }
  &.krasnodar{
    @include coordinates(1131px, 379px);
    & span{
      font-size: 11px;
      white-space: nowrap;
    }
  }
}

@keyframes show {
  0%{
    opacity: 0;
  }
  50%{
    opacity: .5;
  }
  100%{
    opacity: 1;
  }
}
@keyframes hide {
  0%{
    opacity: 1;
  }
  100%{
    opacity: .1;
  }
}
@keyframes remove_shadow {
  0%{
    opacity: .3;
  }
  100%{
    opacity: 1;
  }
}


.map__list {
  position: absolute;
  padding: 15px 68.5px;
  max-width: 1250px;
  background: #FFFFFF;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.06);
  display: flex;
  margin-top: 103px;
  z-index: 30;
  @media (max-width: 1024px){
    padding: 30px 5px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  @media (max-width: 640px) {
    padding: 0 3px;
    justify-content: flex-start;
  }
  & ul {
    padding: 15px 0;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    &:last-child{
      margin-right: 0;
    }

    & li {
      padding: 0;
      font-family: 'Proxima Nova Condensed', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: #444444;
      white-space: nowrap;
      margin-top: 7.3px;
      margin-right: 0;
      @media (max-width: 640px) {
        font-size: 12px;
      }
      @media (max-width: 480px) {
        &.active:first-child{
          display: block;
          &::after{
            content: url(../images/map_arrow_little_reverse.svg);
            position: relative;
            left: 3px;
            width: 8px;
            height: 5px;
          }
        }
        &:first-child{
          display: block;
          &::after{
            content: url(../images/map_arrow_little.svg);
            position: relative;
            left: 3px;
            width: 8px;
            height: 5px;
          }
        }
      }
      &:first-child{
        font-weight: 700;
      }
    }
  }
}

.mark{
    color: #B01736;
}
